.blog {
  width: 100%;
  display: block;
  float: left;

  @include clearfix();

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    small {
      font-weight: bold;
      font-size: 50%;
    }
  }

  // Image align right
  .right {
    float: right;
    padding: $gap 0;

    @include media-breakpoint-up(sm) {
      padding: $gap 0 $gap $gap;
    }

    @include media-breakpoint-up(md) {
      padding: $gap-md 0 $gap-md $gap-md;
    }

    @include clearfix();
  }

  // Image align left
  .left {
    float: left;
    padding: $gap 0;

    @include media-breakpoint-up(sm) {
      padding: $gap $gap $gap 0;
    }

    @include media-breakpoint-up(md) {
      padding: $gap-md $gap-md $gap-md 0;
    }

    @include clearfix();
  }

  // Image in a line (3 times)
  .line {
    float: left;
    padding: $gap 0;

    @include media-breakpoint-up(sm) {
      padding: $gap $gap / 2;
    }

    @include media-breakpoint-up(md) {
      padding: $gap-md $gap-md / 2;
    }

    &:last-of-type {
      @include clearfix();
    }
  }

  // Image in the size of "preview"
  .preview {
    @include abs-width(100%);
    height: auto;

    @include media-breakpoint-up(sm) {
      @include abs-width(50%);
    }
    @include media-breakpoint-up(md) {
      @include abs-width(33.33%);
    }
  }

  // Image in the size of "gallery"
  .gallery {
    @include abs-width(100%);
    height: auto;
    @include media-breakpoint-up(sm) {
      @include abs-width(50%);
    }
    @include media-breakpoint-up(md) {
      @include abs-width(33.33%);
    }
  }

  // Image in the size "fullwidth"
  .fullwidth {
    @include abs-width(100%);
    height: auto;
    padding: $gap 0;
  }
}
