<section class="view">
  <div class="view-menu">
    <h2 class="title">{{ 'app.editorBureau.menu.title' | translate }}</h2>
    <div class="menu-tree-container">
      <bpa-tree-node [sections]="menuPlaces" (selectedMenu)="selectMenuItem($event)"></bpa-tree-node>
    </div>
  </div>
  <div class="view-subview">
    <h2 class="view-title">
      <mat-icon svgIcon="bulletin-board"></mat-icon>
      <span>{{ 'app.editorBureau.title' | translate }}</span>
    </h2>
    <div class="view-body mat-body">
      <p>TODO Editor Bureau</p>
    </div>
  </div>
</section>
