
$width12: 100% / 12;

$gutter: 1.5rem;


.flex-grid {
  @include display-flex(row, wrap);
  align-items: stretch;
  margin: 0 -$gutter / 2;
  padding: 0;

  @for $i from 1 through 12 {
    .col-#{$i} {
      @include flex-grid(#{$i}, #{$i}, $width12 * $i);
      margin: 0;
      padding: $gutter / 2;
    }
  }

  .col {
    @include flex-grid(1, 1);
    margin: 0;
    padding: 0;
  }

  .flex-vertical {
    @include display-flex(column);
  }

  .flex-horizontal {
    @include display-flex(row);
  }

  .align-stretch {
    align-items: stretch;
  }

  .align-start {
    align-items: flex-start;
  }

  .align-end {
    align-items: flex-end;
  }
}
