
html, html body {
  height: 100%;
  width: 100%;
}

body {
  -webkit-user-select: none;
  -webkit-touch-callout: none;

  position: relative;

  margin: 0;
  padding: 0;

  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

@import "material";
@import "page-body";
@import "form";
