<!doctype html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
  <title>{{  title  }}</title>
  {% block meta %}
  {% endblock %}
  {% block styles %}
    <link rel="stylesheet" href="assets/styles.css">
  {% endblock %}
</head>
<body>

{% block body %}
{% endblock %}

{% block scripts %}
  <script src="assets/js/jquery.slim.min.js"></script>
  <script src="assets/js/bootstrap.bundle.min.js"></script>
{% endblock %}

</body>
</html>
