{% extends './base.html.njk' %}

{% block body %}

{% block header %}
  <header class="header fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand-md navbar-light">
        <a class="navbar-brand" href="/index.html">
          <img src="{{ brand.url }}" alt="{{  brand.title }}" width="30" height="30" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav mr-auto">
            {% for item in navbar %}
              {% if item.active %}
              <li class="nav-item active">
              {% else %}
              <li class="nav-item">
              {% endif %}
                <a href="{{ item.pageUrl }}.html" class="nav-link">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav>
    </div>
  </header>
{% endblock %}

{% block content %}

{% endblock %}

{% block footer %}
  <footer class="footer navbar fixed-bottom">
    <div class="container">
      Hall Theme Footer
    </div>
  </footer>
{% endblock %}

{% endblock %}
