{% extends "./partial/page.html.njk" %}

{% block content %}
  <h1>{{ content.title }}</h1>
  <p>Message<br>{{ content.message }}</p>
  <p>PageUrl<br>{{ content.pageUrl }}</p>
  <pre><code>{{ content.stack }}</code></pre>
{% endblock %}
