{% extends "./partial/page.html.njk" %}

{% block content %}
  <main class="container">
    <section class="content">
      <h1>{{ content.title }}</h1>
      {{ content.body | safe }}
    </section>
  </main>
{% endblock %}
