
$font-family-sans-serif: 'Roboto', sans-serif !important;

$gap: 16px;
$gap-md: 20px;


//
// Bootstrap overrides
//

$white:     #ffffff;
$black:     #000000;

//
// Colors
//
$hall-header-background:  $white;
$hall-body-background:    $white;
$hall-footer-background:  $white;
$divider-color:         #adb5bd;
